@import url(https://fonts.googleapis.com/earlyaccess/nicomoji.css);
@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

body {
    margin: 0;
    padding: 0;
}

.shadowedHeader {
    position: fixed;
    top: 0;
    width: 100%;
    height: 15vh;
    background: linear-gradient(#727272, #FFF);
}

.headerButton {
    position: fixed;
    font-family: 'Notable', Arial;
    color: #5B5BFF;
    font-size: 5vh;
    top: 3vh;
    transition: 0.5s;
}

.contactPosition {
    position: fixed;
    bottom: 3vh;
    left: 50%;
    transform: translate(-50%);
    z-index: 11;
}
.contactText {
    font-family: 'Notable', Arial;
    color: #FFF;
    text-align: center;
    line-height: 0.9;
    font-size: 5vh;
    transition: 0.5s;
}

.contactPosition:hover .contactText {
    color: #5B5BFF;
    cursor: pointer;
}

.headerButton:hover {
    cursor: pointer;
    color: #000C61;
}

.headerSVGbackground { 
    fill: #5B5BFF;
    transition: 0.5s;
}
.headerSVG:hover .headerSVGbackground { fill: #000C61; }

.headerSVGicon { 
    fill: #000C61;
    transition: 0.5s;
}
.headerSVG:hover .headerSVGicon { fill: #5B5BFF; }

.left {
    left: 5vh;
}

.right {
    right: 5vh;
}

.mainText {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
    text-align: center;
    padding: 0;
    z-index: 10;
}

.mainHeader {
    position: relative;
    font-family: 'Nico Moji', Arial;
    color: #5B5BFF;
    font-size: 15vh;
    font-weight: normal;
}

.subHeader {
    position: relative;
    font-family: 'Notable', Arial;
    color: #5B5BFF;
    font-size: 4.5vh;
}

.iconContainer {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15vh;
    width: 50vh;
}

.headerSVG {
    width: 10vh;
}

.waves {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.desktop {
    display: flex;
}

.mobile {
    display: none;
}

.mobileMenu {
    position: fixed;
    width: 100%;
    height: 0;
    background-color: #2D24A9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15vh;
    z-index: 11;
    transition: 1s;
}

.mobileHeaderButton {
    font-family: 'Notable', Arial;
    color: #FFF;
    font-size: 4vh;
    transition: 0.5s;
}

a {
    text-decoration: none;
}

.closeMobileMenu {
    position: fixed;
    top: 3vh;
    right: 3vh;
    width: 7vh;
}

.hideMe {
    display: none;
}

@media screen and (max-width: 850px) {
    .desktop {
        display: none;
    }
    
    .mobile {
        display: flex;
    }

    .mainHeader {
        font-size: 8vh;
    }

    .subHeader {
        font-size: 3vh;
    }

    .headerButton {
        display: none;
    }

    .headerSVG {
        width: 8vh;
    }

    .iconContainer {
        width: 100%;
    }
}
