@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #1d1e2c;
  color: #ac9fbb;
  padding: 0;
  margin: 0;
}

header {
  text-align: center;
  padding: 39vh 0;
}

h1 {
  font-size: 6vh;
  color: #FFF;
}

h2 {
  font-size: 4.25vh;
  color: #FFF;
  text-align: center;
  padding-bottom: 5vh;
}

.container {
  padding: 0 20px 0 20px;
  max-width: 900px;
  margin: 0 auto;
}

.headerBar {
  position: fixed;
  height: 10vh;
  width: 100%;
  top: 0;
  background-color: #171823;
}

.left {
  position: absolute;
  height: 10vh;
  width: 50vh;
}

.headerTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 5.5vh;
  width: 100%;
  text-align: center;
  color: #FFF;
  font-weight: bolder;
}

.center {
  transform: translate(-50%);
  position: fixed;
  height: inherit;
  width: 40%;
  left: 50%;
}

.right {
  position: fixed;
  height: inherit;
  width: 30vh;
  right: 5vh;
}

ul {
  display: flex;
  padding-left: 0;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}

li {
  margin-top: 0.5vh;
}

img {
  position: relative;
  height: 5vh;
  width: 5vh;
}

img:hover {
  cursor: pointer;
}

section {
  padding: 15vh;
}

.para {
  margin-left: 2.5vh;
  margin-right: 1vh;
  text-indent: 7.5vh;
  font-size: 2.75vh;
}

.projectsGrid{
  margin: 20px auto;
  width: 74.5vh;
  height: 55vh;
  display:grid;
  grid-template-columns: 35vh 200px;
  grid-row: auto auto;
  grid-column-gap: 5vh;;
  grid-row-gap: 5vh;
}

.projectBox{
  background-color: #14151f;
  height: 25vh;
  width: 35vh;
  border-radius:10px;
}

.boxHeading {
  font-size: 3vh;
  text-align: center;
  padding: 1.5vh;
  font-weight: bolder;
}

.boxHeading a {
  text-decoration: none;
  color: #FFF;
  transition: 0.5s;
}

.boxHeading a:hover {
  color: #65689a;
  cursor: pointer;
}


.boxDesc {
  font-size: 2vh;
  text-indent: 2vh;
  margin-left: 2vh;
  margin-right: 1vh;
}

.more {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: space-around;
}

a {
  color: #ac9fbb;
  text-decoration: none;
  transition: 0.5s;
  padding: 1vh;
  border-radius: 10px;
}

a:hover {
  color: #65689a !important;
  background-color: #14151f;
}

.difColour {
  background-color: #1A1B27;
  padding: 2.5vh;
}

.selectionBox {
  position: fixed;
  right: 6.25vh;
  top: 11vh;
  width: 15vh;
  height: 20vh;
  background-color: #171823;
  border-radius: 15px;
}

.selectionBox {
  display: none;
}

.no-select:hover {
  cursor: default;
}

.no-select::selection {
  background-color: #1A1B27;
}

@media screen and (max-width: 950px) {
  .footer {
    display: block;
  }

  .para {
    text-indent: 4.5vh;
  }

  section {
    padding: 15vh 0;
  }

  .headerBar {
    height: 5vh;
  }

  .navLink li a {
    font-size: 1.25vh;
  }

  .headerTitle {
    font-size: 2.75vh;
  }

  .left {
    height: 5vh;
    width: 25vh;
  }

  .center {
    display: none;
  }

  img {
    height: 3.75vh;
    width: 3.75vh;
  }

  .right {
    width: 10vh;
  }
}
