@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');
@import url(https://fonts.googleapis.com/earlyaccess/nicomoji.css);

body {
    margin: 0;
    padding: 0;
    font-family: 'Arimo', sans-serif;
    font-size: 2vh;
}

.fixedHeader {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    z-index: 10;
    transition: 0.5s;
}

.fixedHeaderColour {
    background-color: #5B5BFF;
}

.headerLogo {
    color: #FFF;
    font-family: 'Nico Moji', Arial;
    font-size: 7.5vh;
    margin-left: 3vh;
    transition: 0.5s;
    width: fit-content;
    overflow: hidden;
}

.headerHeadline {
    position: relative;
    left: 5vh;
    color: #FFF;
    font-size: 5vh;
    font-weight: bold;
}

.bar {
    position: relative;
    width: 1vh;
    left: 3vh;
    height: 7.5vh;
    border-radius: 5vh;
    background-color: #FFF;
}

#div1, #div2 {
    transition: opacity 0.5s ease-in-out; /* Adjust the duration and timing function as needed */
}

.hidden {
    opacity: 0;
}

.backToTop {
    position: fixed;
    bottom: 2.5vh;
    right: -10vh;
    background-color: #5B5BFF;
    height: 10vh;
    width: 10vh;
    border-radius: 3vh;
    font-size: 3vh;
    font-weight: bold;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.backToTop:hover {
    background-color: #000C61;
    cursor: pointer;
}

.headerLogo:hover {
    cursor: pointer;
    color: #000C61;
}

.pageHeader {
    position: relative;
    height: 65vh;
    background-color: #A4A4FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-weight: bold;
    font-family: "Roboto Slab", serif;
}

.headline {
    font-size: 8vh;
    max-width: 60%;
}

.subline {
    font-size: 2.5vh;
    max-width: 60%;
}

.wrapper {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 45%;
}

p {
    font-size: 2vh;
    text-indent: 5vh;
    line-height: 3vh;
}

p::first-letter {
    color: #5B5BFF;
    font-size: 6vh;
    font-weight: bolder;
}

.tag {
    color: red;
}

ul {
    margin-left: 4vh;
}

li::marker, a {
    color: #5B5BFF;
}

footer {
    position: relative;
    background-color: #d5d5d5;
    width: 100%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
}

hr {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

@media screen and (max-width: 1100px) {
    .headline {
        font-size: 6vh;
        max-width: 90%;
    }

    .wrapper {
        width: 90%;
    }

    .headerLogo {
        font-size: 6vh;
        margin-left: 1.5vh;
    }

    .headerHeadline {
        font-size: 2vh;
        max-width: 30vh;
    }

    footer {
        margin-bottom: 0;
        margin-top: 2vh;
        text-align: left;
    }
}